import React from "react";

const LiveTennis = () => {
  const matches = [
    {
      name: "Alexander Zverev vs Roberto Bautista Agut",
      status: "live",
      label: "SAFE",
      labelClass: "safe",
    },
    {
      name: "Taro Daniel vs Luca Nardi",
      status: "live",
      label: "RISKY",
      labelClass: "risky",
    },
    {
      name: "Denis Shapovalov vs Taro Daniel",
      status: "not-live",
      label: "AVOID",
      labelClass: "avoid",
    },
    {
      name: "Linda Noskova vs Katie Boulter",
      status: "not-live",
      label: "STARTS SOON",
      labelClass: "starts-soon",
    },
  ];

  return (
    <div className="card-container">
      {matches.map((match, index) => (
        <div className="card" key={index}>
          <div
            className={`status-dot ${
              match.status === "live" ? "live" : "not-live"
            }`}
          ></div>
          <div className="match-name">{match.name}</div>
          <div className={`tag ${match.labelClass}`}>{match.label}</div>
        </div>
      ))}
    </div>
  );
};

export default LiveTennis;