.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.login-modal {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 20px limegreen;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
  color: limegreen;
}

.close-btn {
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.login-modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: white;
}

.login-modal button {
  width: 100%;
  padding: 10px;
  background-color: limegreen;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}